/node_modules
/packages
/vendor
composer.lock
.idea/
build
.DS_Store
/storage/keys/google-workspace-sdk/*.json
/storage/keys/glamstack-google-workspace/*.json
.env.testing
.env
phpunit.xml
.phpunit.result.cache
